<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vue Slider</title>
  <!-- FontAwesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- CSS -->
  <link rel="stylesheet" href="css/style.css" />
  <!-- JS -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js" defer></script>
  <script src="js/script.js" defer></script>


</head>

<body>
  <div id="root">
    <div class="container">
      <div class="slider">
        <img :src="'img/' + objImg.image" :alt="objImg.title" v-for="(objImg, index) in arrImages" :key="objImg.name"
          :class="{active: index === activeIndex}" class="slider-img">
        <div class="info" v-for="(objImg, index) in arrImages" :key="objImg.name"
          :class="{active: index === activeIndex}" class="slider-img">
          <h2>{{ objImg.title }}</h2>
          <p>{{ objImg.text }}</p>
        </div>
      </div>

      <div class="thumbs">
        <img :src="'img/' + objImg.image" :alt="objImg.title" v-for="(objImg, index) in arrImages" :key="objImg.name"
          :class="{active: index === activeIndex}" class="thumb-img">
        <div class="buttons">
          <div class="btn-up" @click='activeIndex--'>
            <i class="arrow-up fa-solid fa-circle-chevron-up"></i>
          </div>
          <div class="btn-down" @click='activeIndex++'>
            <i class="arrow-down fa-solid fa-circle-chevron-down"></i>
          </div>
        </div>
      </div>
    </div>


    <div class="container-btns">
      <button class="stop">Ferma Autoscorrimento</button>
      <button class="invert">Inverti l'ordine di scorrimento</button>
    </div>
  </div>

</body>

</html>